#equivalent { /*�y�[�W�̃T�C�Y���ς��Ă��A������START�̐}���ړ����Ȃ��悤�ɂ��邽�߂�CSS */
  margin-right:auto;   /* �E���}�[�W���������I�ɋ󂯂�(������auto�ɂ����A�E�������Ȃ̂́A
�@�@�@�@�@�@�@�@�@�@�@�@�@����auto�ɂ��Ă��܂��ƁA�u���b�N�v�f(�\�����e)�̕����w�肵��1000px�𒴂������ɁA
�@�@�@�@�@�@�@�@�@�@�@�@�@�󔒂̋��Ԃ������I�ɓ����čs���Ă��܂������B) */
 margin-bottom:auto; /* ����ver. */
 width: 1100px;
}
